.shield {
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    filter:
		drop-shadow(3px 3px 1px #005)
		drop-shadow(3px -3px 1px #ccc)
		drop-shadow(-3px 3px 1px #ccc)
		drop-shadow(-3px -3px 1px #ffd);
}

.shield i {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.shield i.charge {
	font-size: 50%;
	text-align: center;
	top: 0.3em;
	height: 85%;
	filter: drop-shadow(0 0 1px #777);
}

.he-or {
	color: gold;
}

.he-argent {
	color: silver;
}

.he-azure {
	color: blue;
}

.he-gules {
	color: red;
}

.he-sable {
	color: #333;
}

.he-vert {
	color: green;
}

.he-purpure {
	color: purple;
}

.he-tenne {
	color: #b63;
}

.he-tawny {
	color: #840;
}

.he-sanguine {
	color: #c00;
}

.he-murrey {
	color: #804;
}

.he-cendree {
	color: #888;
}

.he-orange {
	color: #f60;
}

.he-bleu-celeste {
	color: #7ad;
}

.he-carnation {
	color: #eb8;
}

.he-eisen-farbe {
	color: #aab;
}

